<section class="row">
    @for (item of allProducts; track $index) {
        <!--contenido dinámico: cambia dependiendo de la base de datos
        interpolación: {{poner la variable que se quiere mostrar}}-->
    <div class="col">
        <div class="card" style="width: 18rem;">
            <!-- [Prepara para recibir contenido del ts] -->
            <img [src]="baseURL + item.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <p class="card-text">{{item.material}}</p>
                <p class="card-text">{{item.height}}</p>
                <a href="#" class="btn btn-primary">{{item.price}}</a>
            </div>
        </div>
    </div>
    }
</section>