nav {
    background: var(--gradient-primary);
}

.logo {
    border-radius: 50%;
}

.btn {
    border: none;
    padding: 2px 10px;
}

.btn-registro {
    background-color: var(--button_color);
}

.enlace-registro {
    color: var(--white);
}

.btn-sesion {
    border: 2px var(--button_color) solid;
}